<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <script src="/script.js" defer></script>
    <title>Better Cinestar</title>
  </head>
  <body>
    <nav><img src="/images/logo4x.png" alt="Better CineStar logo" /></nav>

    <%- include("locationDropdown"); %>

    <div id="dateAndSortContainer">
      <!-- Date input -->
      <div class="input-container">
        <!-- Label -->
        <div class="label">
          <img class="label-icon" src="/images/sortIcon.svg" alt="sort icon" />
          <p class="label-text">Datum</p>
        </div>
        <!-- Dropdown element -->
        <div id="dateDropdown" class="dropdown-element secondary-color-scheme">
          <p class="selectedValue">Danas</p>
          <img src="/images/dropdownArrow.svg" alt="dropdown arrow" />
        </div>
        <!-- Dropdown options -->
        <div class="dropdown-options secondary-color-scheme">
          <% const date = new Date(); %>
          <div
            class="option"
            data-date="<%= date.getFullYear() + '-' + (date.getMonth()+1) + '-' +date.getDate() %>"
          >
            <p>Danas</p>
          </div>
          <% for(let i=0; i<6; i++){ date.setDate(date.getDate()+1) %>
          <div
            class="option"
            data-date="<%= date.getFullYear() + '-' + (date.getMonth()+1) + '-' +date.getDate() %>"
          >
            <p>
              <%= date.toLocaleDateString("en-EN",{weekday:"short", month:"short",
              day:"numeric"}) %>
            </p>
          </div>
          <% } %>
          <div class="option" data-date="all">
            <p>Sve</p>
          </div>
        </div>
      </div>

      <!-- Sort input -->
      <div id="sortContainer" class="input-container">
        <!-- Label -->
        <div class="label">
          <img class="label-icon" src="/images/sortIcon.svg" alt="sort icon" />
          <p class="label-text">Sortiranje</p>
        </div>
        <div id="sortAndOrderContainer">
          <!-- Dropdown element -->
          <div class="dropdown-element secondary-color-scheme">
            <p class="selectedValue">Datum izlaska</p>
            <img src="/images/dropdownArrow.svg" alt="dropdown arrow" />
          </div>
          <!-- Dropdown options -->
          <div id="changeOrderButton" class="secondary-color-scheme">
            <div class="icon-line ascOrder"></div>
            <div class="icon-line ascOrder"></div>
            <div class="icon-line ascOrder"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="movieCardsContainer">
      <% movies.forEach(movie=>{ %>
      <div
        data-background-image="<%= movie.backgroundImage %>"
        class="movieCard"
        style="
          background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url('<%= movie.backgroundImage %>');
        "
      >
        <div class="movieCardHeading">
          <p class="movieTitle"><%= movie.originalTitle %></p>
          <div class="movieStats">
            <% if(movie.englishCategories){ %>
            <p><%= movie.englishCategories %></p>
            <% }else{ %>
            <p><%= movie.genres[0] %></p>
            <% } %> <% if(movie.duration){ %>
            <p>·</p>
            <p><%= movie.duration %></p>
            <% } %> <% if(movie.letterboxdRating){ %>
            <p>·</p>
            <div class="ratingIconAndValue">
              <img src="/images/letterboxdIcon.png" alt="letterboxd icon" />
              <p><%= movie.letterboxdRating %>/5</p>
            </div>
            <% } %> <% if(movie.imdbRating){ %>
            <p>·</p>
            <div class="ratingIconAndValue">
              <img src="/images/imdbIcon.png" alt="imdb icon" />
              <p><%= movie.imdbRating %>/10 %></p>
            </div>
            <% } %>
          </div>
        </div>

        <div class="movieCardInfo">
          <div class="infoContainer">
            <p class="infoLabel">Naziv karte</p>
            <p class="infoText"><%= movie.title %></p>
          </div>
          <div class="infoContainer">
            <p class="infoLabel">Direktori</p>
            <% if(movie.englishDirectors){ %>
            <p class="infoText"><%= movie.englishDirectors.join(", ") %></p>
            <% }else{ %>
            <p class="infoText"><%= movie.director %></p>
            <% } %>
          </div>
          <div class="infoContainer">
            <p class="infoLabel">Opis</p>
            <% if(movie.englishSynopsis){ %>
            <p class="infoText"><%= movie.englishSynopsis %></p>
            <% }else{ %>
            <p class="infoText"><%= movie.synopsis %></p>
            <% } %>
          </div>
          <% if(movie.trailerLink){ %>
          <a href="<%= movie.trailerLink %>" class="trailerButton"> Trailer </a>
          <% }%>
        </div>

        <div class="movieCardPerformancesContainer">
          <div class="performanceslabel">
            <% const showPerf = new Date(movie.performances[0].performanceDateTime); %>
            <%= showPerf.toLocaleDateString("en-EN",{weekday:"short", month:"short",
            day:"numeric"}) %>
          </div>
          <div class="performanceList">
            <% movie.performances.forEach(performance=>{ %>
            <div class="performanceCard">
              <p class="performanceTime"><%= performance.performanceTime %></p>
              <% performance.performanceFeatures.forEach(feature=>{ %>
              <p class="performanceFeature"><%= feature %></p>
              <% }) %>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
