<div class="input-container">
  <div class="label">
    <img class="label-icon" src="/images/locationIcon.svg" alt="location icon" />
    <p class="label-text">Lokacija kina</p>
  </div>
  <div id="movieLocationDropdown" class="input-element primary-input gap-in-input">
    <p class="selectedValue">Zagreb</p>
    <svg
      class="fill"
      width="10"
      height="9"
      viewBox="0 0 10 9"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5.64952 7.875C5.36084 8.375 4.63916 8.375 4.35048 7.875L0.453368 1.125C0.164693 0.624999 0.525536 -9.15707e-07 1.10289 -8.65233e-07L8.89712 -1.8384e-07C9.47447 -1.33367e-07 9.83531 0.625 9.54663 1.125L5.64952 7.875Z"
        fill="#8F95A3"
      />
    </svg>
  </div>
  <div class="dropdown-options-container">
    <div id="movieCityOptions" class="dropdown-options input-element primary-input">
      <% cinemaCities.forEach(city=>{ %> <% if(city.cinemas.length > 1){ %>
      <div class="option">
        <p><%= city.city %></p>
        <svg
          class="stroke"
          width="7"
          height="13"
          viewBox="0 0 7 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1L5.38848 5.82733C5.73523 6.20875 5.73523 6.79125 5.38848 7.17267L1 12"
            stroke="#454954"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <% }else{ %>
      <div class="option">
        <p data-cinema-oid="<%= city.cinemas[0].cinemaOid %>"><%= city.city %></p>
      </div>
      <% } %> <% }) %>
    </div>
    <% cinemaCities.forEach(city=>{ %> <% if(city.cinemas.length > 1){ %>
    <div
      data-city="<%= city.city %>"
      class="dropdown-options input-element primary-input movieCitySuboptions"
    >
      <% city.cinemas.forEach(cinema=>{ %>
      <p data-cinema-oid="<%= cinema.cinemaOid %>"><%= cinema.cinemaName %></p>
      <% }) %>
    </div>
    <% } %> <% }) %>
  </div>
</div>
